.icon {background: url("sprite_1308351255.png"); display: block;}.ico_arrow_down {background-position: 0px 0px;}
.ico_arrow_mc {background-position: 16px 0px;}
.ico_arrow_up {background-position: 32px 0px;}
